@charset "utf-8";

/* CSS Document */

a:link {
	color: #3399FF;
}

/* visited link */
a:visited {
	color: black
}

/* mouse over link */
a:hover {
    color: #FF9900;
}

/* selected link */
a:active {
    color: #3399FF;
}

body {
	background-image:url(file:///C|/Users/onchada/Desktop/Web/greengrad2.jpg)
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FC3;
}
#template {
	margin: 0 auto;
	width: 960px;

}
#container {
	width: 960px;
}
.box1 {
	width: 380px;
	height: 40px;
	float:left;
	font-family:MS Gothic, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #CCCC33;
	display: inline;
	}
.box2 {
	width: 400px;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #33CCFF;
	float:left;
	display: inline;
	line-height: 60px;
	}
.clear {
	height: 10px;
	clear:both;}
.clearonly {
	clear:both;}
.Mainboxleft {
	width: 460px;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
}
.Mainboxright {
	width: 496px;
	float:left;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 2px;
	padding-left: 2px;

	}

    .mainboxbottom    {
	width: 496px;
	float:left;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 2px;
	padding-left: 2px;

	}
