{% extends "base.html" %}
{% block title %}Fluent Tutoring {% endblock %}
{% block content %}
<h1>Excellence Tutoring</h1>
<img src="static/images/KimBignell.jpeg" class="img-thumbnail rounded float-start-50" alt="KimBignell">
<p>I have 5 years experience teaching and tutoring in Seoul <br>
  I have taught and tutored all ages and all English levels <br>
  after a consultation I will design a program to suit your needs and your level of English <br>
  Are you ready to take you English to the next level?</p>
{% block content %}
{% endblock %}
{% endblock %}
